.card.p
    sv-profile-subhead(subhead-title="classified")
    form(name='classifiedForm' novalidate flex-container='column' ng-submit='postClassified(clCopy)')
        div(flex-container='row', flex-gutter='24')
            div(flex-item='')
                lx-text-field(label='Контактное Имя'
                fixed-label='true'
                error='isInvalid("name")'
                icon='account')
                    input(ng-model='clCopy.name'
                    name='name'
                    type='text')
                lx-text-field(label='Контактный Телефон', fixed-label='true', icon='phone')
                    input(ng-model='clCopy.phone' type='text')
                lx-text-field(label='Электронный Адрес'
                fixed-label='true'
                error='isInvalid("email")'
                icon='email')
                    input( ng-model='clCopy.email'
                    name='email'
                    required
                    type='email')
        div(flex-container='row', flex-gutter='24' class='ml mr')
            div(flex-item='')
                lx-text-field(label='State' error='isInvalid("state")')
                    input(ng-model='clCopy.state'
                    name="state"
                    type='text'
                    required )
            div(flex-item='')
                lx-text-field(label='City'
                error='isInvalid("city")'
                required)
                    input(ng-model='clCopy.city'
                    name="city"
                    type='text'
                    required)
            div(flex-item='')
                lx-dropdown(hide-gt-md)
                    div.btn.btn--s.btn--white.btn--raised(lx-ripple='', lx-dropdown-toggle='')
                        | {{clCopy.section || "Select a Category"}}
                    lx-dropdown-menu
                        ul
                            li(repeat='s in sections')
                                a.dropdown-link(ng-click='selectDropDown(s)') {{s.$value}}
                lx-dropdown(class='mt++' hide-sm hide-gt-sm hide-md show-gt-md)
                    div.btn.btn--l.btn--white.btn--raised(lx-ripple='', lx-dropdown-toggle='')
                        | {{clCopy.section || "Select a Category"}}
                    lx-dropdown-menu
                        ul
                            li(ng-repeat='s in sections')
                                a.dropdown-link(ng-click='selectDropDown(s)') {{s.$value}}
        div(flex-container='row' class='ml mr')
            div(flex-item='')
                lx-text-field(label='Заголовок Объявления'
                error='isInvalid("title")'
                required)
                    input(ng-model='clCopy.title'
                    name="title"
                    type="text"
                    required )
        div(flex-container='row' class='ml mr')
            div(flex-item='')
                lx-text-field(label='Объявление'
                required)
                    textarea(ng-model='clCopy.description'
                    cols="5"
                    rows="18"
                    name="description"
                    required )
        div(flex-container='row' class='mb+ ml mr')
            div(flex-item='')
                lx-text-field(label='Цена Товара / Услуги')
                    input(ng-model='clCopy.price'
                    name="price")
        div(flex-container='row')
            button.btn.btn--s.btn--raised.btn--white.m( type='submit' lx-ripple value="Post")
                i.mdi.mdi-send.mr
                | {{editState?'Save':'Post'}}
            button.btn.btn--s.btn--raised.btn--white.m(type='button' lx-ripple ng-click='cancelAddition()')
                i.mdi.mdi-close
                | &nbsp Cancel
