div(flow-init='')
    .ml.mr
        sv-profile-subhead(subhead-title="my-ad-campaign")
    form(name='adForm' novalidate flex-container='column' ng-submit='addBusinessAd(ad,$flow.files[0])')
        div(flex-container='row', flex-gutter='24')
            div(flex-item='')
                lx-text-field(label='Campaign Name'
                fixed-label='true'
                error='isInvalid("name")'
                icon='briefcase')
                    input(ng-model='ad.name'
                    name='name'
                    required
                    type='text')
        div(flex-container='row', flex-gutter='24' ng-if='user.isManager()')
            div(flex-item='')
                md-select(ng-model='ad.customerUserName')
                    md-select-label {{ad.customerUserName?ad.customerUserName:'Select Customer'}}
                    md-option(ng-repeat='customer in customers' ng-value='customer.profile.userName' ) {{customer.profile.userName}}
        div(flex-container='row')
            div.m(flex-item='')
                sv-image-upload()
        div(flex-container='row' ng-if='ad.banner')
            div.m(flex-item='8')
                span Current Campaign Banner:
                img(ng-src="{{ad.banner}}")
        div(flex-container='row')
            div(class='mb+')
                button.btn.btn--s.btn--raised.btn--white.m( type='submit' lx-ripple value="Save" ng-if='id' )
                    i.mdi.mdi-send.mr
                    | {{'save changes'|translate}}
                button.btn.btn--s.btn--raised.btn--white.m( type='submit' lx-ripple value="Save" ng-if='!id')
                    i.mdi.mdi-send.mr
                    | {{'post'|translate}}
                button.btn.btn--s.btn--raised.btn--white.m(type='button' lx-ripple ng-click='cancelAddition()' ui-sref="^")
                    i.mdi.mdi-close.mr
                    | {{'cancel'|translate}}
