div(flex-container='column')
    .card
        div(class='p+')
            span.display-block.fs-title.mb {{title|translate}}
            .divider.divider--dark
            form.mt(name='signUpForm')
                div(flex-container='column' flex)
                    div(flex-item='')
                        lx-text-field(label='{{name|translate}}', icon='account' error="signUpForm.userName.$touched && signUpForm.userName.$invalid")
                            input(type='text'
                            name='userName'
                            ng-model='user.userName'
                            mg-model-options = '{updateOn:"default "blur"}'
                            sv-unique-username
                            ng-minlength="3"
                            ng-maxlength="200"
                            required )
                        div(ng-messages='signUpForm.userName.$error' ng-if='signUpForm.userName.$touched||signUpForm.$submitted')
                            .tc-red-300.fs-caption(ng-message='required') {{'required-field'|translate}}
                            .tc-red-300.fs-caption(ng-message='username') {{'username-field'|translate}} .tc-red-300.fs-caption(ng-message='minlength') {{'min-length'|translate}}
                            .tc-red-300.fs-caption(ng-message='maxlength') {{'max-length'|translate}}
                div(flex-container='column')
                    div(flex-item='')
                        lx-text-field(label='{{email|translate}}', icon='email'  error="signUpForm.email.$touched && signUpForm.email.$invalid")
                            input(type='email'
                            ng-model='user.email'
                            name='email' required)
                        div(ng-messages='signUpForm.email.$error' ng-if='signUpForm.email.$touched||signUpForm.$submitted')
                            .tc-red-300.fs-caption(ng-message='required') {{'required-field'|translate}}
                            .tc-red-300.fs-caption(ng-message='email') {{'invalid-email'|translate}}
                div(flex-container='column'  class="mb+")
                    div(flex-item='')
                        lx-text-field(label='{{password|translate}}', icon='lock' error="signUpForm.password.$touched && signUpForm.password.$invalid")
                            input(type='password'
                            ng-minlength="6"
                            ng-maxlength="200"
                            ng-model='user.password'
                            name='password' required)
                        div(ng-messages='signUpForm.password.$error' ng-if='signUpForm.password.$touched||signUpForm.$submitted')
                            .tc-red-300.fs-caption(ng-message='required') {{'invalid-password'|translate}}
            div(flex-container='column' flex-align='center start')
                span.dispaly-block.fs-body-2 {{registering|translate}}
                a.dispaly-block.fs-body-2(style='border-bottom: #393939 1px dotted; line-height:14px; cursor:pointer') {{conditions|translate}}
        div.bgc-white-1(flex-container='column' flex-align='center start' class='p+')
            div(flex-container='row' class="mb+")
                button.btn.btn--s.btn--raised.btn--white(lx-ripple ng-click='createSvetUser()')
                    i.mdi.mdi-check &nbsp
                    | {{register|translate}}
        div.bgc-grey-50(flex-container='row' flex-align='space-between center' class='p+')
            div.display-block.fs-body-1 {{registered|translate}}  &nbsp
            div.mdc-text-right
                button.btn.btn--s.btn--flat.fs-caption.btn--indigo(lx-ripple ui-sref='app.svet-login') {{login|translate}}
        div.bgc-grey-200(flex-container='row' flex-align='center' class='p+')
            sv-form-social-buttons

