form.m(name='eventAfishaForm' novalidate ng-submit='createAfishaEventeventAfishaForm.$valid)' flow-init sv-form-val)
    md-input-container(style='padding-bottom:16px')
        span.display-block.fs-body-2(style='font-size:12.96px;color:rgba(0, 0, 0, 0.258824);font-weight:bold') Event Type
        md-radio-group(layout="row"
        ng-model='event.type'
        name="type"
        required="")
            md-radio-button(value='public') Svet Public Event
            md-radio-button(value='connection') Svet Media Group Connection Event
            md-radio-button(value='community') Chicago Community Event
    md-input-container
        label Title
        input(required='', name='title', ng-model='event.title')
        //div(ng-if="eventAfishaForm.$submitted"  ng-messages='eventAfishaForm.title.$error')
        //    div(ng-message='required') Please add title to an event.
    div(layout='row')
        md-input-container(flex)
            label Date
            input(type='date' required='' name='eventDate' ng-model='event.date')
            div(ng-if="eventAfishaForm.$submitted"  ng-messages='eventAfishaForm.eventDate.$error')
                div(ng-message='required') Please add event date.
        md-input-container(flex)
            label Start Time
            input(type='time' required='' name='startTime' ng-model='event.startsAt')
            div(ng-if="eventAfishaForm.$submitted"  ng-messages='eventAfishaForm.startTime.$error')
                div(ng-message='required') Please add start time to an event.
        md-input-container(flex)
            label End Time (Optional)
            input(type='time' name='endTime' ng-model='event.endsAt')
    div(layout='row')
        md-input-container(flex)
            label Address
            input(type='text' required='' name='address'
            ng-model='event.address')
            div(ng-if="eventAfishaForm.$submitted"  ng-messages='eventAfishaForm.address.$error')
                div(ng-message='required') Please add an address to an event.
        md-input-container(flex)
            label Location
            input(type='text' required='' name='location' ng-model='event.location' )
            div(ng-if="eventAfishaForm.$submitted"  ng-messages='eventAfishaForm.location.$error')
                div(ng-message='required') Please add a location to an event (For example: "Navy Pier").
        md-input-container(flex)
            label Location Web Site
            input(type='text'  name='locationWeb' ng-model='event.locationWeb')
    md-input-container
        label About Event
        textarea.bgc-grey-100(type='text' name='about' required=''
        rows='3'
        ng-model='event.about')
        div(ng-if="eventAfishaForm.$submitted"  ng-messages='eventAfishaForm.about.$error')
            div(ng-message='required') Please add a description of an event.
    md-input-container
        label {{'purchase-tickets'|translate}}
        input(type='text' required='' name='tickets' ng-model='event.tickets')
        div(ng-if="eventAfishaForm.$submitted"  ng-messages='eventAfishaForm.tickets.$error')
            div(ng-message='required') Please add information where to purchase tickets (For example: http://www.ticketmaster.com/)
    div(layout='column' class='mb+')
        span.mdc-display-inline-block.fs-subhead.tc-grey-700(class='mt') {{'upload-img'|translate}}
        div(ng-if='event.editState')
            img(ng-src='{{event.img}}')
        sv-image-upload

    div(layout='column' class='mb+')
        button.btn.btn--s.btn--raised.btn--black.bgc-grey-600.mr(type='submit')
            i.mdi.mdi-plus(ng-if='!event.$id') &nbsp {{'add'|translate}}
            i.mdi.mdi-plus(ng-if='event.$id') &nbsp {{'save-changes'|translate}}

