div
    mwl-calendar(events='events', view='calendarView', view-title='calendarTitle', current-day='calendarDay', on-event-click='eventClicked(calendarEvent)',
    edit-event-html='"<i class=\'glyphicon glyphicon-pencil\'></i>"',
    delete-event-html='"<i class=\'glyphicon glyphicon-remove\'></i>"',
    on-edit-event-click='eventEdited(calendarEvent)',
    on-timespan-click='newEvent($event, calendarDate)',
    on-delete-event-click='eventDeleted(calendarEvent)', auto-open='true', day-view-start='06:00', day-view-end='22:00', day-view-split='30')
