sv-profile-header(title='Политика')
sv-one-article(
title='{{article.news.title}}'
author='{{article.news.author}}'
date='{{article.news.date}}'
sections='article.news.sections'
body='{{article.news.content}}'
)
	.light-margin-5(flex='')
		sv-ad-mb-bank
	.light-margin-5(flex='')
		sv-comment
